In [1]:
# WAP to print "Hello, World!"
str1 = ("Hello, World!")
print(str1)

Hello, World!

In [15]:
# functions 
# Write a funtion to print the length of list(list is parameter)
cities= ["kathmandu", "lalitpur","Banepa", "Kirtipur", "Dhulikhel"]
def print_len(cities):
    print(len(cities))
    print_len(cities)

In [ ]:
    # function
 # To print string using function*
def display(name):                          # name is parameter: variable7
    print("My name is:",name)

display("Ranjana")   # function call to get output

My name is: Ranjana

In [ ]:
# function to calculate sum of two numbers
def calc_sum(a,b):
    sum = a+b
    print("sum of a and b is:",sum)

calc_sum(45,78)

sum of a and b is: 123

In [ ]:
# function types
#no parameter no return: 

def prime_minister():    # no parameter is given and return keyword isnot written anywhere in function
    print("prime minister is:",)
    
prime_minister() # while calling function argument hasnot been passed

prime minister is:

In [ ]:
#  parameter and  no return type:
def fullname(firstname, surname):
    print("My fullname is:",firstname, surname)
    
fullname("Ranjana","Baniya")

My fullname is: Ranjana Baniya

In [ ]:
# parameter and return type:
def fullname(firstname, surname):
     print("My fullname is:" ,"firstname", "surname") 
     return fullname
     #return will eliminate the value we have given to parameter although 
     # we pass argument(assign value to our variable) and call it
     # reurn vanda pachadiko block print hudaina and tyo pachi print garaune ho vane pheri euta name diyera 
     #call gari print garne
 
fullname("Ranjana","Baniya")

My fullname is: firstname surname

In [28]:
# parameter and return type:(To print even after return)
def fullname(firstname, surname):
     fullname = "firstname", "surname"
     return fullname
 
fn = fullname("Ranjana","Baniya")
print(fn)

('firstname', 'surname')

In [5]:
# To find the largest and smallest number in a python using built-in function:
numbers = [3, 10, 5, 7, 30, 40,70]
# For finding the largest number:
largest_num = max(numbers)
print("The largest number is:", largest_num)
# for finding smallest number:
smallest_num = min(numbers)
print("The smallest number is:",smallest_num)

The largest number is: 70
The smallest number is: 3

In [ ]:
# function
#Sum function:
def sum_fun(a,b):  # define fun(parameters):
    sum = a+b       # work to be done
    return sum      # return value
z= sum_fun(4,8)     # call function(with arguments means assign value to parameters)
# or
print(z)

12
12

In [11]:

#  (def calc_sum) is function definition
def calc_sum(a,b):
    #(a,b) are parameters which are variable90
    return a+b
# function call with (assigning value to parameters) means arguments
sum = calc_sum(8,7)
print(sum)

15

In [13]:
# create a function to calculate the average of 3 numbers
def cal_avg(a, b, c):
    sum = a+b+c
    avg = sum/3
    return avg
avg = cal_avg(10, 9, 15)
print(avg)

11.333333333333334

In [14]:
# create a function to multiply three numbers
def calc_mul(a, b, c):
    mul = (a*b*c)
    return mul
mul = calc_mul(56,89,70)
print(mul)

348880

In [ ]:
# Write a function(WAF) to  print the length of a list.(list is parameter)
districts =  ["kathmandu", "lalitpur", "Banepa",  "Dolakha"]

def print_len(districts):      # since it should be defined in function
     print_len(districts)
     
print(len(districts))      # should be call to print.

4

In [ ]:
# to add element to a python list:
fruits = ['apple', 'banana', 'orange']
print('Original List:', fruits)

fruits.append('cherry')

print('Updated List:', fruits)

Original List: ['apple', 'banana', 'orange']
Updated List: ['apple', 'banana', 'orange', 'cherry']

In [ ]:
#Method in list:
# The append() method adds an item to the end of the list.The syntax of the append() method is:
#Syntax of append :list.append(item)
#append() Parameters:This method takes a single argument item - an item (number, string, list etc.)
# #to be added at the end of the list.

#Example:
currencies = ['Dollar', 'Euro', 'Pound']

# append 'Yen' to the list
currencies.append('Yen')

print(currencies)

['Dollar', 'Euro', 'Pound', 'Yen']

In [19]:
# animals list
animals = ['cat', 'dog', 'rabbit']

# Add 'cow' to the list
animals.append('cow')
print(animals)

['cat', 'dog', 'rabbit', 'cow']

In [ ]:
# animals list(list can add another list)
animals = ['cat', 'dog', 'rabbit']

# list of wild animals
wild_animals = ['tiger', 'fox']

# appending wild_animals list to animals
animals.append(wild_animals)

print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'rabbit', ['tiger', 'fox']]

In [ ]:
# Write a function to add an item to the end of the list.

 #inputs ['apple', 'banana', 'cherry'] and 'orange', 
 # the output should be ['apple', 'banana', 'cherry', 'orange'(1st ,item):

In [30]:
def append_item(first ,item):
    fruits = ['apple', 'banana', 'cherry']
    fruits.append("orange")
    
print("The updated fruits list is:",fruits)

The updated fruits list is: ['apple', 'banana', 'orange', 'cherry']

In [ ]:
# WAF to print "Hi", "Bye", n "WOW!" under nested function
def f1():
    print("Hi")
    def f2():
        print("Bye")
        def f3():
            print("WOW!")
        return f3    
    return f2
  
x=f1()
y= x()
z=y()

Hi
Bye
WOW!

In [6]:
def f1():
    print("Hi")
    def f2():
        print("Bye")
        def f3():
            print("WOW!")
        return f3    
    return f2
  
x=f1()
y=x()
z=y()

Hi
Bye
WOW!

In [8]:
def fun1(msg): # outer function
    
    def fun2(): # inner function
        print(msg)
    fun2()

fun1("Hello")

Hello

In [ ]:
def fun1(): # outer function
    print("Good morning")
    def fun2(): # inner function
        print("good night")
        def fun3():   # deeply nested function
            print("good evening")
        return fun3
    
    return fun2
   
a = fun1()
b = a()
c = b()

Good morning
good night
good evening

In [4]:
num = [12,34,54,35,56,45,24,21]
def calc_sum(*args):
    total = sum(args)
    print("The result of addition of multiple variable is:",total)
    

    
num=calc_sum(12,34,54,35,56,45,24,21)
print(num)

The result of addition of multiple variable is: 281
None

In [1]:
num = int(input("enter a number for multiplication"))
i= 1
for i in range (1,11 ):
    
 print(num, "*", i, "=",num*i)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [8]:
num= int(input("enter a number for multiplication"))
i = 1
while i<=10:
         
         print(num,"*",i, "=",num*i)
         i = i+1

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [15]:
 # Write a python script  to print first 10 odd Number
n = 10

i= 0
while i<= 10:
    if i% 2 != 0:
        print("The first 10 odd numbers are:" ,i)
    i = i+1

The first 10 odd numbers are: 1
The first 10 odd numbers are: 3
The first 10 odd numbers are: 5
The first 10 odd numbers are: 7
The first 10 odd numbers are: 9

write a python script to print first N even natural Number

In [26]:
n = int(input("enter a number"))
i = 1
while i<=n:
    if i % 2 == 0:
      print(" The first N even natural number are:", i)
    i = i+1

 The first N even natural number are: 2
 The first N even natural number are: 4
 The first N even natural number are: 6
 The first N even natural number are: 8
 The first N even natural number are: 10
 The first N even natural number are: 12
 The first N even natural number are: 14
 The first N even natural number are: 16
 The first N even natural number are: 18
 The first N even natural number are: 20

# Write a Python Script to print first 10 odd Natural Number in reverse order

In [18]:
num = 10
while num> 0:
    print("The first 10 odd natural number are:", num)
    num = num-1

The first 10 odd natural number are: 10
The first 10 odd natural number are: 9
The first 10 odd natural number are: 8
The first 10 odd natural number are: 7
The first 10 odd natural number are: 6
The first 10 odd natural number are: 5
The first 10 odd natural number are: 4
The first 10 odd natural number are: 3
The first 10 odd natural number are: 2
The first 10 odd natural number are: 1

In [ ]:
 # write a python Script to calculate sum of first N natural numbers

In [22]:
n = int(input("enter a number"))
i= 1
sum = 0
while i<=n:
    sum = i+1
    
    print("The sum of first", n," natural number are:", sum)
    i = i+1

The sum of first 20  natural number are: 2
The sum of first 20  natural number are: 3
The sum of first 20  natural number are: 4
The sum of first 20  natural number are: 5
The sum of first 20  natural number are: 6
The sum of first 20  natural number are: 7
The sum of first 20  natural number are: 8
The sum of first 20  natural number are: 9
The sum of first 20  natural number are: 10
The sum of first 20  natural number are: 11
The sum of first 20  natural number are: 12
The sum of first 20  natural number are: 13
The sum of first 20  natural number are: 14
The sum of first 20  natural number are: 15
The sum of first 20  natural number are: 16
The sum of first 20  natural number are: 17
The sum of first 20  natural number are: 18
The sum of first 20  natural number are: 19
The sum of first 20  natural number are: 20
The sum of first 20  natural number are: 21